:root {
	--main-color: #000;
}

* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'JW';
	src: url('./fonts/SourceSans3VF-Roman.woff2') format('woff2-variations');
	font-weight: 200 900;
}

/* view transitions https://css-tricks.com/almanac/rules/v/view-transition/ */
@media screen and (prefers-reduced-motion: no-preference) {
	@view-transition {
		navigation: auto;
	}
}

::view-transition-old(root) {
	animation: fadeOut 0.4s both;
}

::view-transition-new(root) {
	animation: fadeIn 0.4s both;
}

::view-transition-group(root) {
	animation-duration: 0.4s;
}

@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

html {
	font-size: 100%;
	font-family: "JW", system-ui, Helvetica, Arial, sans-serif;
	/* font-family: "Ringside Regular SSm A", "Ringside Regular SSm B", Helvetica, Arial, sans-serif; */
	font-style: normal;
	font-weight: 550;
	line-height: 1.4;
}

a {
	color: currentColor;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	margin: 0;
	border-top: 0.5rem solid black;
	padding: 0.5rem;
}

h1 {
	font-size: 2.4em;
	margin-top: 0;
	margin-bottom: 0.25rem;
}

h1 a,
h2 a {
	text-decoration: none;
	color: currentColor;
}

h2 {
	font-size: 1.6em;
	margin: 0 0 4rem 0;
}

main {
	/* responsive grid */
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(26em, 1fr));
	grid-gap: 1rem;
}

main > section {
	border-top: 0.2em solid var(--main-color);
	padding: 0.5em 0 1em;
}

section h3 {
	margin: 0 0 0.5em 0;
	font-size: 1.6em;
	text-transform: uppercase;
}

section.nnr-intro h3 {
	text-transform: none;
}

section p {
	margin: 0 0 1em 0;
	max-width: 50ch;
}

section img {
	width: 100%;
	margin-bottom: 0.5em;
}

section ul {
	margin: 0 0 1em 0;
	padding: 0 0 0 0;
	list-style: none;
}

section li {
	border: 1px solid var(--main-color);
	border-left-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
	padding: 0.25em 0;
}

section li:last-child {
	border-bottom-width: 1px;
}

section .rights li {
	display: flex;
	gap: 1ch;
}

section li a {
	text-decoration: none;
	color: currentColor;
	display: flex;
	align-items: center;
}

section .rights li a::after {
	content: ":";
}

section li a::before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	background: transparent url(./images/icon_arrow_right_fill.svg) 0 0 no-repeat;
	background-size: contain;
	margin-right: 0.25em;
	vertical-align: text-top;
	transition: all 0.15s ease;
}

section li a:hover::before {
	background-image: url(./images/icon_arrow_right.svg);
	/* margin-left: 0.4em; */
}

section.education p {
	font-size: 1.35em;
	line-height: 1.25;
	hyphens: auto;
}

footer nav.meta ul {
	padding: 0;
	list-style: none;
}

footer nav.meta li {
	display: inline-block;
	margin-right: 0.25em;
}

footer nav.meta li a {
	display: inline-block;
	padding: 0.2em 0.5em 0.3em;
	color: #fff;
	background-color: var(--main-color);
	text-decoration: none;
}

@media all and (min-width: 40em) {
	body {
		padding: 2rem;
	}

	h1 {
		font-size: 3em;
		margin-top: 1rem;
		margin-bottom: 0.25rem;
	}

	h2 {
		font-size: 2em;
		margin: 0 0 4rem 0;
	}

	/* flex to grid update 2025: */
	/*
	main {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;

		margin: 0 -0.5rem;
	}

	main > section {
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 50ch;

		margin: 0 0.5rem;
		width: CALC(50ch - 1rem);
	}
	*/
}
